.navbar-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.925);

  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.navbar-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo img {
  height: 55px;
  width: auto;
  display: block;
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: 32px;
  flex-direction: row !important;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #f59e0b;
}

.enroll-btn {
  display: inline-flex;
  align-items: center;

  padding: 8px 20px;
  border-radius: 999px;

  background: #0f172a;
  color: white;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;

  transition: background 0.3s;
}

.enroll-btn:hover {
  background: #020617;
}


@media (max-width: 992px) {
.navbar-nav{
    align-items: flex-start;
    gap: 15px;
    flex-direction: column !
    important;
    margin-bottom: 20px;
}

.enroll_row{
      display: flex;
    justify-content: end;
    margin-bottom: 20px;
}
}