<nav class="navbar navbar-expand-lg navbar-header">
  <div class="container navbar-container">

    <!-- Logo -->
    <a class="navbar-brand navbar-logo p-0" href="#top">
      <img [src]="logo" alt="Reach Sky">
    </a>

    <!-- Mobile Toggle -->
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
      data-bs-target="#mainNavbar" (click)="toggleMenu()" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon-custom"  [class.active]="isMenuOpen">
        <span class="line line1"></span>
        <span class="line line2"></span>  
        <span class="line line3"></span>
      </span>

    </button>

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="mainNavbar" >

      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngFor="let link of links">
          <a class="nav-link" [href]="link.href">
            {{ link.label }}
          </a>
        </li>
      </ul>
      <div class="enroll_row">
        <a href="#lead" class="enroll-btn">
          Enroll Now
        </a>
      </div>

    </div>


  </div>
</nav>