.footer-section {
  background: #071a35;
  color: rgba(255, 255, 255, 0.8);
}

.footer-logo-wrapper {
  display: inline-block;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

.footer-logo {
  height: 32px;
  width: auto;
}

.footer-description {
  max-width: 350px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
}

.footer-title {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.footer-links li,
.footer-contact li {
  margin-bottom: 12px;
}

.footer-links a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
}

.footer-links a:hover {
  color: #f59e0b;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.8);
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
}

.url-color {
  color: #f59e0b
}

.footer-social-links li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.footer-social-links li a {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.footer-social-links li a img {
  width: 30px;
  height: 30px;
}

.footer-social-links a img {
  width: 30px;
  height: 30px;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer-contact a img{
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(80%) sepia(35%) saturate(6729%) hue-rotate(359deg) brightness(103%) contrast(92%);
}
.footer-contact .url-color {
    color: #fff;
    font-size: 14px;
}

@media (max-width: 767px) {
  .footer-title {
    margin-top: 20px;
  }

  .footer-bottom {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer-section-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}